<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="header">
    
    </div>
    
    <div class="container">
        <h1 class="header">Student Placement Predictor</h1>
        <form method="post" action="/predict" >
  
            <label >CGPA (0-10) </label>
            <input type="text" name="cgpa" required><br><br>

            <label >IQ:(in between-Low 83 - High 121)</label>
            <input type="text" name="iq" required><br><br>

            <label >Profile Score:(0 - 100)</label>
            <input type="text" name="profile_score" required><br><br>

            <input type="submit" value="Predict">
        </form>
        {% if result %}
           <h1 style="color: green;" class="result"> <p>{{ result }}</p></h1>
        {% endif %}
    </div>
</body>
</html>